html, body {
	/*background: url('http://static.panoramio.com/photos/large/39482808.jpg') no-repeat 50% 0% fixed;
	background-size: cover;*/
	background: url(../images/texture.png) repeat;
	height: 100%;
	width: 100%;
}

.main {
   /* border-bottom: 90px solid rgba(75, 12, 12, 0.85);*/
    /*border-bottom-width: 90px;*/
    /*height: 100%;*/
} 

/* Kissa ja Puhekupla */

#cat-bubble-wrapper{
	padding: 15px;
	height: 100%;
	max-width: 400px;
	display:block;
	margin:0 auto;
}
.cat{
	height: 50%;
	display:block;
	margin:0 auto;
}
div.speech
{
	padding: 15px;
	position: relative;
	margin-bottom: 40px;
	max-height: 50%;
	/*height: 100px;*/
	text-align: center;
	/*line-height: 100px;*/
	background-color: #fff;
	border: 5px solid #CDCDCD;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
div.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100%;
	border: 25px solid;
	border-color: #CDCDCD #CDCDCD transparent transparent;
}
div.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 42px;
	top: 100%;
	border: 15px solid;
	border-color: #fff #fff transparent transparent;
}
.speech-content{
	overflow: scroll;
}

.main{
	height:100vh;
}
.row1 {
	height: 90%;
}
.row2{
	height: 10%;
	text-align:center;
}
.div1 {
	text-align: center;
	
}
.div1 > img {
	position: relative;
	top: 10%;
    height: 50%;
}


.footer {
    position: fixed;
    bottom:  23px;
    width: 100%;
    text-align: center;
}

.btn-default, .btn-default:hover, .btn-default:focus {
	color: rgb(255,255,255);
	background-color: rgb(215,103,103);
}


.map {
	width:100%;
	padding: 20px;
}


.menuList {
	padding: 20px;
	list-style-type: none;
}
.menuList > li {
	padding: 5px;
	margin: 3px;
	background: rgb(165, 50, 50);
	color: rgb(255, 255, 255);
	text-align: center;
	border: 2px solid rgb(68, 36, 36);
	border-radius: 5px;
}
.menuList > li:hover {
	background: rgb(115, 50, 50);
} 


.infoBox {
	padding: 15px;
	background-color: rgb(56, 25, 25);
	color: rgb(255,255,255);
}
.infoBox > p {
	text-align: center;
}


.custom_modal {
	width: 100%;
}
.custom_modal > .modal-backdrop {
	background-color: rgb(44,44,44);
}
.custom_modal > .modal-backdrop.in {
    opacity: 0.8;
}



/* Kartta */
#kartta{
	padding: 20px;
}
#opera_kartta_hotspots{
	width: 100%;
	height: auto;
}
/*img[usemap], map area{
    outline: none;
}*/

